@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;400;500;600;700&family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*:before,
*:after {
  box-sizing: border-box;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 100rem;
  background-color: darkgrey;
}
.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 100rem;
  @apply bg-red-400;
}

.Typewriter {
  margin: 15px;
  color: palevioletred;
  text-align: center;
  font-size: 20px;
  font-family: "Dancing Script", cursive;
  @media screen and (max-width: 767.98px) {
    font-size: 24px;
    margin: 12px 0;
    &-send {
      @apply p-0 font-semibold text-xl;
    }
  }
}

.wrapper {
  &-content {
    &--heading {
      font-family: "Dancing Script", cursive;
    }
  }
  @media screen and (max-width: 767.98px) {
    padding: 20px;
    &-content {
      max-width: none;
      padding: 16px;
      &--heading {
        font-size: 28px;
        line-height: 1.25;
      }
    }
    &-content--title {
      padding: 0;
      font-size: 24px;
    }
    &-content--image {
      height: 220px;
    }
    &-content--btn {
      flex-direction: column;
      gap: 16px;
    }
    &-content--button {
      height: 50px;
      border-radius: 100rem;
    }
    &-content--bottom {
      margin-top: 16px;
    }
  }
}

.custom-pagination {
  @apply flex justify-center gap-x-[20px] gap-y-[30px] my-6 flex-wrap;
  .page-item {
    .page-link {
      @apply bg-red-500 text-white py-2 px-4 rounded cursor-pointer;
    }
    .page-link-next {
      @apply bg-red-500 text-white py-2 px-4 rounded cursor-pointer;
    }
  }
  .page-item.disabled {
    .page-link {
      @apply bg-gray-200 cursor-not-allowed;
    }
    .page-link-next {
      @apply bg-gray-200 cursor-not-allowed;
    }
  }
  .page-item.active {
    .page-link-next {
      @apply bg-red-400 text-white;
    }
  }
}

.custom-pagination--user {
  @apply flex justify-end gap-x-4 my-6;
  .page-item {
    .page-link {
      @apply bg-white text-slate-900 py-2 px-4 rounded cursor-pointer;
    }
  }
  .page-item.disabled {
    .page-link {
      @apply bg-white shadow-xl text-slate-900 cursor-not-allowed;
    }
  }
  .page-item.active {
    .page-link {
      @apply bg-red-500 text-white;
    }
  }
}

.modal-custom {
  font-family: "Montserrat", sans-serif;
  .ant-modal-title {
    @apply text-lg;
  }
}
